.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-Container {
  background-image: url("../public/cloud-bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2in;
}

.CenterCard {
  height: min-content;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.cust-card-img {
  max-width: 300px;
  height: 300px;
}

.homeContainer {
  color: blue;
  display: flex;
}

.homeContainer div {
  font-size: 1.5rem;
  font-family: monospace;
  background-color: cornsilk;
  outline-style: groove;
  outline-color: blueviolet;
  margin: 22.5%;
  padding: 25px;
  display: flex;
}

.homeContainer h2 {
  background-color: cornsilk;
  margin-bottom: auto;
  padding: 2.5%
}

.mountainContainer {
  background-image: url("../public/centerMountain.jpg");
  background-size: cover;
  height: 50vh;
  width: 50vw;
}

.riverContainer {
  background-image: url("../public/mountainAndTree.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
}


.mountainText {
  color: blue;
}
