.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-Container {
  background-color: #61dafb;
  background-image: url("../public/cloud-bg.jpg");
  background-size: cover;
  min-height: 100vh;
}

.CenterCard {
  align-items: center;
  flex-direction: column;
  display: flex;
}


.custom-card-img {
  height: 50px;
  object-fit:scale-down;
  border-radius: 10px; 
}


